.dataTables_filter{
    position: absolute;
    right: 0px;
}

.btn {
    margin-right: 2px;
    margin-bottom: 5px;
}


.c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comment-text {
    font-size: 13px
}

.wish {
    color: #35b69f
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}

.show-deatil{
    cursor: pointer;
}

.ui-datepicker-calendar>tbody>tr>td.ui-datepicker-unselectable>span.ui-state-default:before{
    bottom: 0;
    content: "X";
    height: 4px;
    left: 7px;
    margin: auto;
    position: relative;
    right: 0;
    top: 0;
    width: 4px;
    color: #FF0000;
  }
  
  /*
    Simple utility classes for example styling
  */
  .bordered{
    border: 1px solid black;
  }
  
  .padded{
    padding: 5px;
  }

  div.dataTables_wrapper div.dataTables_filter {
     text-align: left; 
     position: relative;
     float: left !important; 
}

div.personal_filter{
    position: relative;
    float: left !important; 
}


div.dt-buttons{
    position: relative;
    float: right !important;
}
.w-160{
    width: 160px !important;
}

div.dataTables_filter input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.9rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--vz-body-color);
    background-color: var(--vz-input-bg);
    background-clip: padding-box;
    border: 1px solid var(--vz-input-border);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    background: #f2f2f2;    
    background-repeat: no-repeat;
    background-position: 0px 3px !important;
    margin-left: 0 !important ;
}